/* Variables */
:root {
    --primary-color: #2f7d6d;
    --secondary-color: #ad2e4d;
    --text-color: #555555;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2 {
    color: var(--primary-color);
    font-style: italic;
  }
  
  p {
    color: var(--text-color);
    font-style: italic;
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header */
  header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    padding: 5px;
    color: var(--secondary-color);
  }
  
  nav ul li a:hover {
    color: var(--primary-color);
  }
  
  /* Sections */
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 20px;
    color: var(--secondary-color);
    font-style: italic;
  }
  
  section ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  /* Footer */
  footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* Body Background */
  body {
    background-image: url("https://www.w3schools.com/cssref/img_tree.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  