$primary-color: #2f7d6d;
$secondary-color: #ad2e4d;
$text-color: #555555;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// Mixin button

@mixin button($color) {
  background-color: $color;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: $primary-color;
  font-style: italic;
}

p {
  color: $text-color;
  font-style: italic;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: $primary-color;
  color: $text-color;
  padding: 20px;
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
    margin-right: 10px;
    
    a {
      padding: 5px;
      color: $secondary-color;
      
      &:hover {
        color: $primary-color;
      }
    }
  }
}

section {
  margin-bottom: 20px;
  
  h2 {
    font-size: 20px;
    color: $secondary-color;
    font-style: italic;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
}

footer {
  background-color: $secondary-color;
  color: $text-color;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #222;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: $primary-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  
  li {
    padding: 12px 16px;
    color: white;
    
    &:hover {
      background-color: #222;
    }
  }
  
  .panel-item:hover & {
    display: block;
  }
}

.panel-item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("arkaplan.jpg"); 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 0.7;
  }
}

// Kullanım Örneği
.my-button {
  @include button($primary-color);
}
