@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

// Define a variable for the background image URL
$background-image-url: "background.jpg";

html, body {
  height: 100%;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  color: white;
}

.dropdown-menu {
  background-color: #343a40;

  .dropdown-item {
    color: white;
  }
}

.carousel-item {
  height: 400px; // Slider yüksekliği
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container {
  margin-top: 80px;
  text-align: center;

  h1 {
    color: #2f7d6d;
    font-size: 42px;
    font-style: italic;
    margin-bottom: 20px;
  }

  p {
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #2f7d6d;
    border-color: #2f7d6d;
    font-size: 18px;
    padding: 12px 30px;
  }

  .btn-secondary {
    background-color: #ad2e4d;
    border-color: #ad2e4d;
    color: white;
    font-size: 18px;
    padding: 12px 30px;
  }
}

// Set the background image
body {
  background-image: url($background-image-url);
  background-size: cover;
  background-position: center;
}
